CREATE DATABASE Flight;

/****** Object:  Table [dbo].[AIRLINE_DETAILS]    Script Date: 02-01-2022 22:19:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AIRLINE_DETAILS](
	[AIRLINEID] [int] IDENTITY(1,1) NOT NULL,
	[AIRLINE] [varchar](20) NULL,
	[AIRLINECODE] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[AIRLINEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FLIGHT_SERVICE]    Script Date: 02-01-2022 22:19:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FLIGHT_SERVICE](
	[FLIGHTSERVICEID] [int] IDENTITY(1,1) NOT NULL,
	[FLIGHTSERVICENAME] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[FLIGHTSERVICEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JOURNEY_DETAILS]    Script Date: 02-01-2022 22:19:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOURNEY_DETAILS](
	[JOURNEYDETAILSID] [int] IDENTITY(1,1) NOT NULL,
	[FLIGHTORIGINID] [int] NOT NULL,
	[FLIGHTDESTINATIONID] [int] NOT NULL,
	[AIRLINEID] [int] NOT NULL,
	[PRICE] [money] NULL,
	[DEPARTURE] [datetime] NULL,
	[ARRIVAL] [datetime] NULL,
	[DURATION] [varchar](20) NULL,
	[AVAILABLESEAT] [int] NULL,
	[FLIGHTNUMBER] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[JOURNEYDETAILSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPERATIONAL_DAY]    Script Date: 02-01-2022 22:19:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPERATIONAL_DAY](
	[OPERATIONALDAYID] [int] IDENTITY(1,1) NOT NULL,
	[OPERATIONALDAY] [int] NULL,
	[JOURNEYDETAILSID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OPERATIONALDAYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 02-01-2022 22:19:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[UserName] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AIRLINE_DETAILS] ON 

INSERT [dbo].[AIRLINE_DETAILS] ([AIRLINEID], [AIRLINE], [AIRLINECODE]) VALUES (1, N'Jet Airways', N'9W')
INSERT [dbo].[AIRLINE_DETAILS] ([AIRLINEID], [AIRLINE], [AIRLINECODE]) VALUES (2, N'Indigo', N'6E')
INSERT [dbo].[AIRLINE_DETAILS] ([AIRLINEID], [AIRLINE], [AIRLINECODE]) VALUES (3, N'Air India', N'AI')
SET IDENTITY_INSERT [dbo].[AIRLINE_DETAILS] OFF
GO
SET IDENTITY_INSERT [dbo].[FLIGHT_SERVICE] ON 

INSERT [dbo].[FLIGHT_SERVICE] ([FLIGHTSERVICEID], [FLIGHTSERVICENAME]) VALUES (1, N'PNQ')
INSERT [dbo].[FLIGHT_SERVICE] ([FLIGHTSERVICEID], [FLIGHTSERVICENAME]) VALUES (2, N'DEL')
SET IDENTITY_INSERT [dbo].[FLIGHT_SERVICE] OFF
GO
SET IDENTITY_INSERT [dbo].[JOURNEY_DETAILS] ON 

INSERT [dbo].[JOURNEY_DETAILS] ([JOURNEYDETAILSID], [FLIGHTORIGINID], [FLIGHTDESTINATIONID], [AIRLINEID], [PRICE], [DEPARTURE], [ARRIVAL], [DURATION], [AVAILABLESEAT], [FLIGHTNUMBER]) VALUES (1, 1, 2, 1, 6733.0000, CAST(N'2013-01-01T16:29:00.000' AS DateTime), CAST(N'2013-01-01T19:02:00.000' AS DateTime), N'2h 33m', 116, 186)
INSERT [dbo].[JOURNEY_DETAILS] ([JOURNEYDETAILSID], [FLIGHTORIGINID], [FLIGHTDESTINATIONID], [AIRLINEID], [PRICE], [DEPARTURE], [ARRIVAL], [DURATION], [AVAILABLESEAT], [FLIGHTNUMBER]) VALUES (2, 1, 2, 1, 8713.0000, CAST(N'2013-01-01T13:47:00.000' AS DateTime), CAST(N'2013-01-01T16:24:00.000' AS DateTime), N'2h 37m', 53, 251)
INSERT [dbo].[JOURNEY_DETAILS] ([JOURNEYDETAILSID], [FLIGHTORIGINID], [FLIGHTDESTINATIONID], [AIRLINEID], [PRICE], [DEPARTURE], [ARRIVAL], [DURATION], [AVAILABLESEAT], [FLIGHTNUMBER]) VALUES (3, 1, 2, 2, 5996.0000, CAST(N'2013-01-01T08:39:00.000' AS DateTime), CAST(N'2013-01-01T10:55:00.000' AS DateTime), N'2h 16m', 87, 224)
SET IDENTITY_INSERT [dbo].[JOURNEY_DETAILS] OFF
GO
SET IDENTITY_INSERT [dbo].[OPERATIONAL_DAY] ON 

INSERT [dbo].[OPERATIONAL_DAY] ([OPERATIONALDAYID], [OPERATIONALDAY], [JOURNEYDETAILSID]) VALUES (1, 0, 1)
INSERT [dbo].[OPERATIONAL_DAY] ([OPERATIONALDAYID], [OPERATIONALDAY], [JOURNEYDETAILSID]) VALUES (2, 2, 1)
INSERT [dbo].[OPERATIONAL_DAY] ([OPERATIONALDAYID], [OPERATIONALDAY], [JOURNEYDETAILSID]) VALUES (3, 7, 2)
SET IDENTITY_INSERT [dbo].[OPERATIONAL_DAY] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Name], [UserName], [Password]) VALUES (1, N'Rudresh Chodankar', N'rudresh', N'123')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[JOURNEY_DETAILS]  WITH CHECK ADD  CONSTRAINT [AIRLINE_DETAILS_AIRLINEID] FOREIGN KEY([AIRLINEID])
REFERENCES [dbo].[AIRLINE_DETAILS] ([AIRLINEID])
GO
ALTER TABLE [dbo].[JOURNEY_DETAILS] CHECK CONSTRAINT [AIRLINE_DETAILS_AIRLINEID]
GO
ALTER TABLE [dbo].[JOURNEY_DETAILS]  WITH CHECK ADD  CONSTRAINT [FLIGHT_SERVICE_FLIGHTDESTINATIONID] FOREIGN KEY([FLIGHTDESTINATIONID])
REFERENCES [dbo].[FLIGHT_SERVICE] ([FLIGHTSERVICEID])
GO
ALTER TABLE [dbo].[JOURNEY_DETAILS] CHECK CONSTRAINT [FLIGHT_SERVICE_FLIGHTDESTINATIONID]
GO
ALTER TABLE [dbo].[JOURNEY_DETAILS]  WITH CHECK ADD  CONSTRAINT [FLIGHT_SERVICE_FLIGHTORIGINID] FOREIGN KEY([FLIGHTORIGINID])
REFERENCES [dbo].[FLIGHT_SERVICE] ([FLIGHTSERVICEID])
GO
ALTER TABLE [dbo].[JOURNEY_DETAILS] CHECK CONSTRAINT [FLIGHT_SERVICE_FLIGHTORIGINID]
GO
ALTER TABLE [dbo].[OPERATIONAL_DAY]  WITH CHECK ADD  CONSTRAINT [OPERATIONAL_DAY_JOURNEYDETAILSID] FOREIGN KEY([JOURNEYDETAILSID])
REFERENCES [dbo].[JOURNEY_DETAILS] ([JOURNEYDETAILSID])
GO
ALTER TABLE [dbo].[OPERATIONAL_DAY] CHECK CONSTRAINT [OPERATIONAL_DAY_JOURNEYDETAILSID]
GO
